## SETS:

In [1]:
#Sets: 
#To define the sets we use {}.We can do Unions, Intesersections, DIfferences ,etc

{1,2,3,4,4,5,6,6,7,7,7}

{1, 2, 3, 4, 5, 6, 7}

In [3]:
print(type({1,2,3,4,4,5,6,6,7,7,7}))

<class 'set'>

In [4]:
set_1= set({1,2,3,4,4,5,6,6,7,7,7})   #Set function will give the unique elements:
print(set_1)

{1, 2, 3, 4, 5, 6, 7}

In [5]:
set_2= set((1,2,3,4,4,5,6,6,7,7,7)) #This is for tuples
print(set_2)

{1, 2, 3, 4, 5, 6, 7}

In [8]:
set_4 = set([1,3,5,6])
print(set_4)

{1, 3, 5, 6}

In [6]:
#For strings: 

set_3= set('Yachay')
print(set_3)

{'Y', 'a', 'y', 'h', 'c'}

In [9]:
set_2.intersection(set_4)   #Will give as output the intersecting objects

{1, 3, 5, 6}

# DICTIONARIES:

In [11]:
#Dictionaries:

dict_1= {'CP1':7, 'QM1':6, "GR":8}

print(type(dict_1))

<class 'dict'>

In [12]:
print(dict_1['QM1'])

6

In [20]:
#With keys() you get all the keys of the dictionarie

dict_1.keys()

dict_keys(['CP1', 'QM1', 'GR', ('ED', 'CM'), 'ED', 'CM'])

In [18]:
dict_1.update({'ED':4,'CM':5})     #update({}) allows to add new keys and values to the dict

In [19]:
print(dict_1)

{'CP1': 7, 'QM1': 6, 'GR': 8, ('ED', 'CM'): (4, 5), 'ED': 4, 'CM': 5}

## NUMPY ARRAYS

In [21]:
#Good for handing data

import numpy as np

In [22]:
a = (5.,6.,7,)
a_rr = np.array(a)  #the array function converts the object into an array

print(type(a),type(a_rr))

<class 'tuple'> <class 'numpy.ndarray'>

In [23]:
a_rr[1]

6.0

In [24]:
b_list = [50.,60.,70.]
b_rr = np.array(b_list)

In [27]:
# Define the datatype when converting to arrays !!! 

c_array= np.array([1.,2.,3.],dtype =np.float32)

#For complex numbers: 

b_array= np.array([1.,2.,3.],dtype =complex)

print(c_array)

print(b_array)

[1. 2. 3.]
[1.+0.j 2.+0.j 3.+0.j]

In [29]:
import matplotlib.pyplot as plt

In [32]:
# to generate vector we can use: np.linspace() and np.arange()
# This is with arange with takes the stpes
x_axis= np.arange(0.,1.,0.1)

print(x_axis)
# This is with arange with takes the # of elements
y_axis= np.linspace(0.,1.,11)

print(y_axis)

[0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9]
[0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]